@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(90deg, rgb(0 8 37) 0%, rgb(29 28 111) 100%);
}

@font-face {
    font-family: agbalumo;
    src: url(./assets/fonts/Agbalumo-Regular.ttf) format("opentype");
}

@font-face {
    font-family: ea-font;
    src: url(./assets/fonts/EASPORTS15.ttf) format("opentype");
}